
sorted-names-list.txt

bin/Release/net5.0/ref/name-sorter.dll
bin/Release/net5.0/name-sorter.runtimeconfig.json
bin/Release/net5.0/name-sorter.runtimeconfig.dev.json
bin/Release/net5.0/name-sorter.pdb
bin/Release/net5.0/name-sorter.exe
bin/Release/net5.0/name-sorter.dll
bin/Release/net5.0/name-sorter.deps.json
bin/Release/net5.0/Google.Protobuf.dll
bin/Debug/net5.0/ref/name-sorter.dll
bin/Debug/net5.0/name-sorter.pdb
bin/Debug/net5.0/name-sorter.dll
bin/Debug/net5.0/name-sorter.deps.json
bin/Debug/net5.0/Google.Protobuf.dll
.vs/name-sorter/v17/.suo
notes.cs
obj/name-sorter.csproj.nuget.dgspec.json
obj/name-sorter.csproj.nuget.g.props
obj/name-sorter.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Release/net5.0/name-sorter.csproj.CoreCompileInputs.cache
obj/Release/net5.0/name-sorter.dll
obj/Release/net5.0/name-sorter.pdb
obj/Release/net5.0/name-sorter.csproj.CoreCompileInputs.cache
obj/Release/net5.0/name-sorter.dll
obj/Release/net5.0/name-sorter.pdb
obj/Release/net5.0/name-sorter.csproj.CoreCompileInputs.cache
obj/Release/net5.0/name-sorter.dll
obj/Release/net5.0/name-sorter.pdb
obj/Release/net5.0/name-sorter.dll
obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Release/net5.0/name-sorter.AssemblyInfo.cs
obj/Release/net5.0/name-sorter.AssemblyInfoInputs.cache
obj/Release/net5.0/name-sorter.assets.cache
obj/Release/net5.0/name-sorter.csproj.AssemblyReference.cache
obj/Release/net5.0/name-sorter.GeneratedMSBuildEditorConfig.editorconfig
