
sorted-names-list.txt
obj/Release/net5.0/ref/name-sorter.dll
obj/Release/net5.0/name-sorter.pdb
obj/Release/net5.0/name-sorter.genruntimeconfig.cache
obj/Release/net5.0/name-sorter.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net5.0/name-sorter.dll
obj/Release/net5.0/name-sorter.csproj.FileListAbsolute.txt
obj/Release/net5.0/name-sorter.csproj.CoreCompileInputs.cache
obj/Release/net5.0/name-sorter.csproj.CopyComplete
obj/Release/net5.0/name-sorter.csproj.AssemblyReference.cache
obj/Release/net5.0/name-sorter.assets.cache
obj/Release/net5.0/name-sorter.AssemblyInfoInputs.cache
obj/Release/net5.0/name-sorter.AssemblyInfo.cs
obj/Release/net5.0/apphost.exe
obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/project.nuget.cache
obj/project.assets.json
obj/name-sorter.csproj.nuget.dgspec.json
obj/Debug/net5.0/ref/name-sorter.dll
obj/Debug/net5.0/name-sorter.pdb
obj/Debug/net5.0/name-sorter.genruntimeconfig.cache
obj/Debug/net5.0/name-sorter.dll
obj/Debug/net5.0/name-sorter.csproj.FileListAbsolute.txt
obj/Debug/net5.0/name-sorter.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/name-sorter.csproj.AssemblyReference.cache
obj/Debug/net5.0/name-sorter.assets.cache
obj/project.nuget.cache
obj/project.assets.json
obj/name-sorter.csproj.nuget.dgspec.json
obj/Debug/net5.0/ref/name-sorter.dll
obj/Debug/net5.0/name-sorter.pdb
obj/Debug/net5.0/name-sorter.genruntimeconfig.cache
obj/Debug/net5.0/name-sorter.dll
obj/Debug/net5.0/name-sorter.csproj.FileListAbsolute.txt
obj/Debug/net5.0/name-sorter.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/name-sorter.csproj.AssemblyReference.cache
obj/Debug/net5.0/name-sorter.assets.cache
bin/Release/net5.0/ref/name-sorter.dll
bin/Release/net5.0/name-sorter.runtimeconfig.json
bin/Release/net5.0/name-sorter.runtimeconfig.dev.json
bin/Release/net5.0/name-sorter.pdb
bin/Release/net5.0/name-sorter.exe
bin/Release/net5.0/name-sorter.dll
bin/Release/net5.0/name-sorter.deps.json
bin/Release/net5.0/Google.Protobuf.dll
bin/Debug/net5.0/ref/name-sorter.dll
bin/Debug/net5.0/name-sorter.pdb
bin/Debug/net5.0/name-sorter.dll
bin/Debug/net5.0/name-sorter.deps.json
bin/Debug/net5.0/Google.Protobuf.dll
.vs/name-sorter/v17/.suo
obj/Debug/net5.0/name-sorter.csproj.CoreCompileInputs.cache
