
sorted-names-list.txt

bin/Release/net5.0/ref/name-sorter.dll
bin/Release/net5.0/name-sorter.runtimeconfig.json
bin/Release/net5.0/name-sorter.runtimeconfig.dev.json
bin/Release/net5.0/name-sorter.pdb
bin/Release/net5.0/name-sorter.exe
bin/Release/net5.0/name-sorter.dll
bin/Release/net5.0/name-sorter.deps.json
bin/Release/net5.0/Google.Protobuf.dll
bin/Debug/net5.0/ref/name-sorter.dll
bin/Debug/net5.0/name-sorter.pdb
bin/Debug/net5.0/name-sorter.dll
bin/Debug/net5.0/name-sorter.deps.json
bin/Debug/net5.0/Google.Protobuf.dll
.vs/name-sorter/v17/.suo
notes.cs
